# Datos de secuenciación
*.fastq
*.fastq.gz
*.bam
*.sam
*.vcf
*.bam.bai

# Carpeta de datos
data/

# Archivos temporales
*.log
*.aux
.Rhistory
.RData
.DS_Store

# Archivos grandes de ensamblaje
*.tar.gz
*.zip
ncbi_dataset/
asm1/
asm1_eval/

# Quarto
_freeze/

# Fin
